In [ ]:
import pandas as pd

In [ ]:
data = {
    'Name':['John','Jane','Bob'],
    'Age':[25,30,35],
    'City':['New York','London','Paris']
}

In [ ]:
df=pd.DataFrame(data)
print(df)

   Name  Age      City
0  John   25  New York
1  Jane   30    London
2   Bob   35     Paris

In [ ]:
ages=df['Age']
print(ages)

0    25
1    30
2    35
Name: Age, dtype: int64